.wrapper {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
    transition: all ease 0.2s;
    text-decoration: none !important;
    cursor: pointer;

    &.sm {
        height: 32px;
        font-size: 1.4rem;
        padding: 6px 8px;

        .icon {
            width: 16px;
        }
    }

    &.md {
        height: 40px;
        font-size: 1.6rem;

        .icon {
            width: 24px;
        }
    }

    &.lg {
        height: 50px;
        font-size: 1.8rem;

        .icon {
            width: 24px;
        }
    }

    &:not(:disabled) {
        &:hover,
        &:active {
            color: #fff;
            background-color: var(--primary-color);
        }
    }

    &.rounded {
        border-radius: 999px;
    }

    &.primary {
        color: #fff;
        background-color: var(--primary-color);

        &:not(:disabled) {
            &:hover,
            &:active {
                color: var(--primary-color);
                background-color: #fff;
            }
        }
    }

    &.danger {
        color: var(--danger-color);
        border-color: var(--danger-color);

        &:not(:disabled) {
            &:hover,
            &:active {
                color: #fff;
                background-color: var(--danger-color);
            }
        }
    }

    &:disabled {
        cursor: default;
        opacity: 0.65;
    }

    .title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .icon + .title,
    .title + .icon {
        margin-left: 6px;
    }

    .icon {
        display: inline-block;
        text-align: center;
    }
}
