.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: no-repeat center center / cover;

    .form {
        width: 500px;
        max-width: calc(100% - 60px);
        margin: auto;
        background: linear-gradient(177.65deg, rgba(255, 255, 255, 0.65) 1.22%, rgba(255, 255, 255, 0.35) 94.99%);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        backdrop-filter: blur(50px);
        padding: 40px 30px;

        .title {
            text-align: center;
            margin-bottom: 8px;
            font-weight: 500;
        }

        .hint-text {
            text-align: center;
            margin-bottom: 24px;
        }

        .agree-text {
            font-weight: 500;
        }

        .bottom {
            display: flex;
            align-items: center;
        }

        .space-btw-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .submit-btn {
            margin-left: auto;
            margin-right: auto;
            margin-top: 26px;
            height: 50px;
            width: 140px;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    a {
        font-weight: 700;
        color: var(--primary-color);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .validate-msg {
        font-weight: 600;
        text-align: center;
        font-size: 1.6rem;
        color: var(--danger-color);
    }

    .footer {
        display: flex;
    }
}
