@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:wght@800&display=swap');

:root {
    --primary-color: #005295;
    --secondary-color: #00223e;
    --primary-color-rgb: 0, 82, 149;
    --danger-color: #dc3545;
    --success-color: #28a745;

    --height-header: 60px;
    --width-sidebar: 256px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    overflow: hidden overlay;
}

// scrollball css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    background-clip: padding-box;

    &:hover {
        border: 0;
    }
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f6f6f6;
}

// custom tippy tooltip

body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        font-weight: 500;
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
        color: rgba(84, 84, 84, 0.9);
    }
}
