.wrapper {
    display: flex;
    width: 100vw;
}

.container {
    flex: 1;
}

.content {
    width: 100%;
    background-color: #f6f6f6;
    height: 10000px;
    padding: 40px 40px 60px;
    overflow: hidden;
}
