.wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    margin-top: var(--height-header);
    display: flex;
    // flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.content {
    flex: 1;
    background-color: #f6f6f6;
    height: 10000px;
    padding: 18px 20px 60px;
}
