.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    user-select: none;
    margin: 8px 0;

    .group-field {
        position: relative;
    }

    .label {
        font-weight: 500;
        margin-left: 8px;
        margin-bottom: 4px;
    }

    .input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #555;
        outline: none;
        font-size: 1.5rem;

        &:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 0 1px var(--primary-color);
            caret-color: var(--primary-color);
            &.invalid {
                box-shadow: 0 0 0 1px var(--danger-color);
            }
        }

        &.invalid {
            border-color: var(--danger-color);
        }
    }

    .btn-hide {
        position: absolute;
        display: flex;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            background-color: rgba(81, 122, 226, 0.2);
        }

        .btn-icon {
            margin: auto;
            font-size: 1.3rem;
            color: #404040;
        }
    }

    .error-messgae {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0 8px;
        color: var(--danger-color);
    }

    .error-icon {
        margin-right: 4px;
    }
}
