.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    user-select: none;

    .label {
        font-weight: 500;
        margin-left: 8px;
        margin-bottom: 4px;
    }

    .input {
        min-height: 40px;
        width: 100%;
        border-radius: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border: 1px solid #555;
        outline: none;
        font-size: 1.5rem;

        &:focus {
            border-color: var(--primary-color);
            box-shadow: 0 0 0 1px var(--primary-color);
            caret-color: var(--primary-color);
        }
    }
}

.wrapper ~ .wrapper {
    margin-top: 8px;
}
