.wrapper {
    .section {
        margin-bottom: 30px;
    }

    .chart-block {
        $height: 400px;
        $mt: 12px;
        height: $height;
        &.sm {
            height: calc($height / 2 - $mt/2);
        }

        & ~ .chart-block {
            margin-top: $mt;
        }
    }
}
