.wrapper {
    $height-block: 400px;
    $mt: 12px;
    .section {
        margin-bottom: 30px;
    }

    .chart-block {
        height: $height-block;
        &.sm {
            height: calc($height-block / 2 - $mt/2);
        }

        & ~ .chart-block {
            margin-top: $mt;
        }
    }

    .table-block {
        min-height: $height-block;
    }
}
