.wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--height-header);
    box-shadow: 5px 2px 4px rgb(32 78 198 / 8%);
    background-color: #fff;
}

.leftside {
    margin-right: auto;
    .title {
        padding-left: 50px;
    }
}

.rightside {
    padding: 0 20px;
    .control {
        display: flex;
        align-items: center;

        .search {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            margin-right: 16px;
            background-color: #f2f2f2;
            border-radius: 999px;
            overflow: hidden;
            padding-left: 16px;
            height: 28px;

            input {
                width: 100px;
                height: 100%;
                font-size: 1.2rem;
                background-color: transparent;
                border: none;
                outline: none;
                transition: all ease 0.2s;

                &:focus {
                    width: 250px;
                }
            }

            button {
                padding: 6px 10px;
                cursor: pointer;
                border: none;
                outline: none;
            }
        }

        .btn {
            position: relative;
            border-color: transparent;
            background-color: rgba(var(--primary-color-rbg), 0.1);
            font-size: 2rem;
            color: #333;
            padding: 8px;
            height: 40px;
            width: 40px;

            &.avatar {
                padding: 0;
                border-color: #ccc;
            }

            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
            }

            & ~ .btn {
                margin-left: 8px;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }

            .notice {
                position: absolute;
                display: inline-flex;
                padding: 0 4px;
                min-width: 19px;
                max-width: 26px;
                height: 19px;
                align-items: center;
                justify-content: center;
                top: -6px;
                left: calc(100% - 15px);
                background: var(--primary-color);
                border-radius: 9999px;
                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                border: 2px solid var(--secondary-color);
            }
        }
    }
}
