.wrapper {
    $border-color: #d9dee3;
    $bg-color: #cae0f3;
    $bg-color-2: #bfc6cc;

    .imga-col {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 1px solid rgba(var(--primary-color-rgb), 0.3);
    }

    .title {
        text-align: center;
        padding: 8px 0px 16px;
        color: var(--primary-color);
    }

    .tab-list {
        display: flex;
        list-style: none;
        padding: 2px 12px 0 12px;
        border-radius: 6px 6px 0px 0px;
        background-color: #f2f4f5;
        border: 1px solid $border-color;
        border-bottom: none;

        li {
            user-select: none;
            cursor: pointer;
            position: relative;
            z-index: 2;
            padding: 8px 14px 4px;
            border-bottom: none;
            border-radius: 8px 8px 0 0;
            font-size: 1.4rem;
            color: #566a7f;
            transition: color ease 0.2s;
            margin: 0 1px;
            font-weight: 600;

            &:not(:first-child) {
                &::before {
                    content: ' ';
                    pointer-events: none;
                    position: absolute;
                    height: 50%;
                    width: 1px;
                    background-color: #888;
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:last-child::after {
                content: ' ';
                pointer-events: none;
                position: absolute;
                height: 50%;
                width: 1px;
                background-color: #888;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
            }

            &.active {
                color: #202830;
                background-color: $bg-color;
                &::before {
                    content: ' ';
                    pointer-events: none;
                    position: absolute;
                    height: 80%;
                    width: 100%;
                    bottom: -1px;
                    z-index: -1;
                    left: -100%;
                    border-radius: 0 0 10px 0;
                    box-shadow: 14px 0.25em 0 -4px $bg-color;
                    top: unset;
                    transform: unset;
                    background-color: unset;
                }

                &::after {
                    content: ' ';
                    pointer-events: none;
                    position: absolute;
                    height: 80%;
                    width: 100%;
                    bottom: -1px;
                    z-index: -1;
                    right: -100%;
                    border-radius: 0 0 0 10px;
                    box-shadow: -14px 0.25em 0 -4px $bg-color;
                    top: unset;
                    transform: unset;
                    background-color: unset;
                }
            }

            &.active + li::before {
                visibility: hidden;
            }

            &:hover:not(.active) {
                color: var(--primary-color);
            }
        }
    }

    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 8px;
        font-size: 1.6rem;
        border: solid $border-color;
        border-width: 0 1px 1px;

        .addmore {
            margin-top: 4px;
        }
    }

    .table-container {
        overflow: auto;

        &::-webkit-scrollbar {
            height: 10px;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        color: #566a7f;
        border: 1px solid $bg-color;
    }

    thead {
        font-weight: 500;
        tr {
            background-color: $bg-color;
            border-bottom: 1px solid $border-color;
        }
    }

    tbody {
        font-size: 1.4rem;
        .row:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }

        .row {
            cursor: pointer;
            transition: all ease 0.1s;
        }

        .row:hover {
            background-color: #f2f4f5;

            .edit-table {
                background-color: #f2f4f5;
            }
        }
    }

    td {
        border: none;
        padding: 10px 20px;
    }

    .edit-table {
        position: sticky;
        right: 0px;
        box-shadow: inset 1px 0px 0 $border-color;
        transition: all ease 0.1s;
        width: 80px;
        text-align: center;
    }

    thead {
        .edit-table {
            color: #181e24;
            box-shadow: none;
        }
    }

    tbody {
        .edit-table {
            padding: 6px;
            background-color: #fff;
            .btn-control {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        padding: 4px 8px;
        background-color: $bg-color;
        font-size: 1.3rem;
        color: #0000008a;

        .displayed-rows {
            padding-left: 12px;
        }

        .control {
            display: flex;
            align-items: center;
            margin-left: auto;

            .select-group {
                display: flex;
                align-items: center;
                margin-right: 8px;

                .select-wrapper {
                    position: relative;
                    select {
                        font-size: 1.2rem;
                        color: #0000008a;
                        text-align: right;
                        appearance: none;
                        padding: 4px 20px 4px 4px;
                        margin-left: 4px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }

                    .icon {
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        font-size: 1rem;
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25px;
                height: 25px;
                font-size: 1.3rem;
                border: none;
                border-radius: 4px;
                outline: none;
                background-color: $bg-color-2;
                color: #fff;
                transition: all ease 0.2s;

                cursor: pointer;

                &:disabled {
                    pointer-events: none;
                    opacity: 0.4;
                }

                &:hover {
                    background-color: var(--primary-color);
                }

                & + button {
                    margin-left: 4px;
                }
            }
        }
    }
}
