.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: no-repeat center center / cover;

    .form {
        width: 500px;
        max-width: calc(100% - 60px);
        margin: auto;
        background: linear-gradient(177.65deg, rgba(255, 255, 255, 0.65) 1.22%, rgba(255, 255, 255, 0.35) 94.99%);
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        backdrop-filter: blur(6px);
        padding: 40px 30px;

        .title {
            text-align: center;
            margin-bottom: 8px;
            font-weight: 500;
        }

        .hint-text {
            text-align: center;
            margin-bottom: 24px;

            a {
                margin-left: 6px;
                font-weight: 600;
                color: var(--primary-color);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .submit-btn {
            margin-left: auto;
            margin-right: auto;
            margin-top: 26px;
            height: 50px;
            width: 140px;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
}
